
@charset "UTF-8";
/* CSS Document */

/*-----------------------------------------------------------------------------------

  - Main
  - Header
  - Works
  - Form

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Main
-----------------------------------------------------------------*/
@media screen and (max-width: 1136px) {
  .Two-column {
    display: block;
  }

  .right {
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .blogMain, .authorinfo {
    width: 100%;
  }

  .blogSub {
    width: 100%;
  }

  .right-max {
    width: 100%;
  }

  .left-min {
    width: 100%;
  }

  .author-photo {
    width: 30%;
  }

  .blogSub {
    padding: 1rem 0 1rem 0;
  }

  .title-half:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 7px;
    background: -webkit-repeating-linear-gradient(
      -45deg,
      #6ad1c8,
      #6ad1c8 2px,
      #fff 2px,
      #fff 4px
    );
    background: repeating-linear-gradient(
      -45deg,
      #6ad1c8,
      #6ad1c8 2px,
      #fff 2px,
      #fff 4px
    );
  }

  h5 {
    margin: 2px;
  }
}

/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/
@media (max-width: 900px) {
  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
    z-index: 1000;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: #555;
    border-radius: 8px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
  }

  .sm {
    top: 60px;
    left: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
    /* background-color: #1abc9c; */
    background-color: #eee;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav a {
    text-align: center;
    border-top: solid 0.5px rgba(0, 0, 0, 0.6);
  }
}

/* ----------------------------------------------------------------
	Form
-----------------------------------------------------------------*/
@media (min-width: 640px) {
  .c-form__item {
    flex-wrap: nowrap;
  }
  .c-form__label {
    width: 40%;
  }
  .c-form__input {
    width: 55%;
  }
}

/* ----------------------------------------------------------------
	Portfolio
-----------------------------------------------------------------*/
@media screen and (max-width: 900px) {
  .targets {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }
  .targets {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ----------------------------------------------------------------
	Download
-----------------------------------------------------------------*/
@media (max-width: 767px) {
  .download-container {
    flex-direction: column;
  }

  #file-format {
    margin: 10px auto;
  }

  .download-btn {
    display: block;
    margin: 10px auto;
  }
}

/* ----------------------------------------------------------------
	Bosyu
-----------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .portfolio-item {
    width: 100%; /* 画面幅いっぱいに広げる */
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .portfolio-item {
    width: 50%; /* 画面幅の半分に設定して2列にする */
  }
}

/* ----------------------------------------------------------------
	Articles
-----------------------------------------------------------------*/

@media screen and (max-width: 414px) {
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .article {
    width: 80%;
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .article {
    width: 42%;
    margin: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
}
